<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">    
    <title>TakeSteps App</title>
</head>

<body>
    <nav>
        <h1>TakeSteps</h1>
        <ul>
            <li><a href="/">start</a></li>
            <li><a href="/profile">{{user.name}}</a></li>
            <li><a href="/logout">wyloguj się</a></li>
        </ul>
    </nav>

    <div class="container">

                <div class="form-window">
                    <h1>Zmień hasło (todo!)</h1><br></br>

                    <form action="/auth/changePassword" method="POST">

                            <label for="oldPassword">Stare hasło</label>
                            <input type="oldPassword" placeholder="Stare hasło" id="oldPassword" name="oldPassword">

                            <label for="newPassword">Nowe hasło</label>
                            <input type="newPassword" placeholder="Nowe hasło" id="newPassword" name="newPassword">

                        <button type="submit" class="form-button">Zmień hasło</button>
                    </form>
            </div>
            {{#if message}}
                <h4>{{message}}</h4>
            {{/if}}
        </div>
    </div>

    <div class="footer">
        &#xA9 TakeSteps 2021
    </div>

</body>
</html>