<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/5ff0c880c6.js" crossorigin="anonymous"></script>
    <title>TakeSteps App</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">TakeSteps</div>
        <a href="#" class ="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="/">start</a></a></li>
                {{#if user}}
                <li><a href="/ranking">ranking</a></li>
                <li><a href="/profile">profil</a></li>
                <li><a href="/logout">wyloguj się</a></li>
                {{else}}
                <li><a href="/login">zaloguj</a></li>
                <li><a href="/register">zarejestruj</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>


    <div class="info-image">
        <div class="info-container">
            <h1><span>TakeSteps</span></h1>
                <span class="info-desc">
                    Celem aplikacji jest zmotywowanie użytkownika do zwiększania codziennej aktywności fizycznej.
                    Zbieramy dane ilości pokonanych przez użytkownika kroków z telefonu, opaski sportowej lub smartwacha.
                    Specyfika aplikacji, pozwala na tworzenie wyzwań w gronie znajomych, by wspólnie pokonywać kolejne kilometry.
                    Stwórzcie wspólny cel i wspólnie podejmijcie wyzwanie w TakeSteps.
                </span>
            <h4>Czas na Twój krok!</a></h4>
        </div>
    </div>

    <div class="wrapper-grid">
        <div class="grid-content">
            <div class="banner-icon"><i class="fas fa-user"></i></div>
            <h2 class="grid-title">Zarejestruj się</h2>
            <p class ="descritpion">Aby zacząć używać aplikacji, musisz założyć własne konto.</p>
        </div>

        <div class="grid-content">
            <div class="banner-icon"><i class="fas fa-hand-sparkles"></i></div>
            <h2 class="grid-title">Stwórz wyzwanie</h2>
            <p class ="descritpion">Możesz tworzyć cele indywidualne oraz wspólne w gronie swoich znajomych.</p>
        </div>

        <div class="grid-content">
            <div class="banner-icon"><i class="fas fa-running"></i></div>
            <h2 class="grid-title">Przejdź do działania</h2>
            <p class ="descritpion">Już prawie gotowe! Pozostało wziąć sprawy w swoje nogi i wyruszyć w drogę!</p>
        </div>

    </div>

    <div class="register-info">
        <h2>Formularz rejestracji:</h2><br></br>
        <a href="/register"><i class="fas fa-file-alt"></i></a>
        <h4>Rejestracja</h4>
    </div>

    <div class="footer">
        &#xA9 TakeSteps 2021
    </div>


     <script src="/js/script.js"></script>
</body>
</html>