<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">    
    <title>TakeSteps App</title>
</head>

<body>
    <section class="form-window">
        <form action="/auth/login" method="POST">
            <div class="box">
                <div class="form-head">
                    <h2>Formularz logowania</h2>
                </div>

                <div class="form-body">
                    <input type="email" placeholder="Adres email" id="email" name="email">
                    <input type="password" placeholder="Hasło" id="password" name="password">
                </div>

                <div class="form-footer">
                    <button type="submit" class="form-button">Zaloguj się</button>
                    <br><br>Nie masz konta? <a href="/register"><b>Zarejestruj się!</b></a>
                </div>
            </div>
        </form>

        </div>
        {{#if message}}
            <h4>{{message}}</h4>
        {{/if}}

</body>
</html>