<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/5ff0c880c6.js" crossorigin="anonymous"></script>
    <title>TakeSteps App</title>
</head>
    <nav>
        <h1>TakeSteps</h1>
        <ul>
            <li><a href="/">start</a></li>
            <li><a href="/ranking">ranking</a></li>
            <li><a href="/profile">profil</a></li>
            <li><a href="/logout">wyloguj się</a></li>
        </ul>
    </nav>

    <div class="info">
        <div class="infobackground">
            <h1>Witaj {{user.name}}!</h1>
                        <h4>({{user.email}})</h4>
        <img src="/avatar.jpg" alt="Avatar" class="avatar"><br></br>

        </div>
    </div>

    <div class="container">

           <h5>Według Światowej Organizacji Zdrowia (WHO), zdrowy człowiek powinien pokonywać średnio od 6000 do 8000 kroków dziennie.</h5>

            <h2>Twoje kroki z ostatnich dni:</h2>
            <div class="steps-table">
                <button class="arrow"><i class="fas fa-arrow-up"></i></button>
                <ul>
                </ul>
                <button class="arrow"><i class="fas fa-arrow-down"></i></button>
            </div>
        </div>

    <center><h1>Statystyki liczby kroków:</h1></center>

    <div class="grid-container">
        <div class="grid-content">
            <h4>Ostatnie 7 dni:</h4>
            <i class="fas fa-calendar-week"></i>
            <h6><p id="7days"></p></h6>
        </div>

        <div class="grid-content">
            <h4>Ostatni miesiąc:</h4>
            <i class="far fa-calendar-alt"></i>
            <h6><p id="30days"></p></h6>
        </div>

        <div class="grid-content">
            <h4>Wszystkie kroki:</h4>
            <i class="fas fa-infinity"></i>
            <h6><p id="alldays"></p></h6>
        </div>
    </div>
            <center>Chcesz zmienić hasło? Kliknij <a href="/changepassword"><b>tutaj!</b></a></center></br>
        </div>
    </div>

    <div class="footer">
        &#xA9 TakeSteps 2021
    </div>

    <div class="popup">
        <h3>Liczba kroków:</h3>
        <div class="popupBody">
            <p class="popupInfo"></p>
            <input type="text" class="popupInput" placeholder="Wprowadź liczbę kroków">
            <button class="popupBtn accept">Zatwierdź</button>
            <button class="popupBtn cancel">Anuluj</button>
        </div>
    </div>

     <script src="/js/steps.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    
    const d7days = document.getElementById('7days');
    const d30days = document.getElementById('30days');
    const alldays = document.getElementById('alldays');
    const today = new Date();
    const stepsList = document.querySelector('.steps-table > ul');
    
    const url = 'profile/userdata/' + `{{user.id}}`;
    console.log(url);

    const loadData = async () => {
        await axios.get(url)
        .then(res => {
            let data = res.data;
            console.log(data);
            fillData(data);
        })
        .catch(function (error) {
            console.log("error" + error);
        })
    }

    const fillData = data => {
        /* User Steps */
        data.steps[0].forEach(element => {
            console.log(element);
            const daySteps = document.createElement('li');
            const stepsAmount = document.createElement('div');
            const stepsDate = document.createElement('div');
            const editButton = document.createElement('button');

            stepsDate.classList.add('date');
            stepsDate.innerHTML = element.day.substring(0, 10);

            stepsAmount.classList.add('steps');
            stepsAmount.innerHTML = element.amount;

            editButton.classList.add('edit');
            editButton.innerHTML = "edytuj";

            daySteps.appendChild(stepsDate);
            daySteps.appendChild(stepsAmount);
            daySteps.appendChild(editButton);
            stepsList.appendChild(daySteps);
        });
        /* User Scores */
        d7days.innerHTML = data.weekscore;
        d30days.innerHTML = data.monthscore;
        alldays.innerHTML = data.allscore;
    }

    document.addEventListener("DOMContentLoaded", loadData());
</script>
</body>
</html>