<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/5ff0c880c6.js" crossorigin="anonymous"></script>
    <title>TakeSteps App</title>
</head>

<body>
    <nav>
        <h1>TakeSteps</h1>
        <ul>
            <li><a href="/">start</a></li>
            <li><a href="/ranking">ranking</a></li>
            <li><a href="/profile">{{user.name}}</a></li>
            <li><a href="/logout">wyloguj się</a></li>
        </ul>
    </nav>

    <div class="info">
        <div class="infobackground">
            <h1>Witaj {{user.name}}!</h1>
                        <h4>({{user.email}})</h4>
        <img src="/avatar.jpg" alt="Avatar" class="avatar"><br></br>

        </div>
    </div>

    <div class="container">

        <div class="progress-status">
            <h2>Do końca miesięcznego wyzwania brakuje Ci jeszcze -steps- kroków!</h2>
            <h5>Zdefiniuj swój dzienny cel, by wyliczyć miesięczne wyzwanie.</h5><br></br>
            <div class="progress-bar" style="--width: 0" data-label="Steps"></div><br>
           <h5>Według Światowej Organizacji Zdrowia (WHO), zdrowy człowiek powinien pokonywać średnio od 6000 do 8000 kroków dziennie.</h5> <br></br>

            <h2>Twoje kroki z ostatnich dni:</h2>
            (kliknij na wybrane okno by zmodyfikować liczbę kroków)
            <div class="steps-table">
                <button class="arrow"><i class="fas fa-arrow-up"></i></button>
                <ul>
                    <li id='test1'><div class="steps">dodaj kroki</div><div class="date">data</div> <br> <button class="edit">EDIT</button></li>
                    <li id='test2'><div class="steps">dodaj kroki</div><div class="date">data</div> <br> <button class="edit">EDIT</button></li>
                    <li id='test3'><div class="steps">dodaj kroki</div><div class="date">data</div> <br> <button class="edit">EDIT</button></li>
                    <li id='test4'><div class="steps">dodaj kroki</div><div class="date">data</div> <br> <button class="edit">EDIT</button></li>
                    <li id='test5'><div class="steps">dodaj kroki</div><div class="date">data</div> <br> <button class="edit">EDIT</button></li>
                </ul>
                <button class="arrow"><i class="fas fa-arrow-down"></i></button>
            </div>

        </div>

    <br><br><br><h1>Statystyki liczby kroków:</h1>

    <div class="grid-container">
        <div class="grid-content">
            <h4>Ostatnie 7 dni:</h4>
            <i class="fas fa-calendar-week"></i>
            <h6>12374</h6>
        </div>

        <div class="grid-content">
            <h4>Ostatni miesiąc:</h4>
            <i class="far fa-calendar-alt"></i>
            <h6>214272</h6>
        </div>

        <div class="grid-content">
            <h4>Wszystkie kroki:</h4>
            <i class="fas fa-infinity"></i>
            <h6>241847389438</h6>
        </div>
    </div>
            Chcesz zmienić hasło? Kliknij <a href="/changepassword"><b>tutaj!</b></a>
        </div>
    </div>

    <div class="footer">
        &#xA9 TakeSteps 2021
    </div>

    <div class="popup">
        <h3>Liczba kroków:</h3>
        <div class="popupBody">
            <p class="popupInfo"></p>
            <input type="text" class="popupInput" placeholder="Wprowadź liczbę kroków">
            <button class="popupBtn accept">Zatwierdź</button>
            <button class="popupBtn cancel">Anuluj</button>
        </div>
    </div>

     <script src="/js/steps.js"></script>
</body>
</html>