<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/5ff0c880c6.js" crossorigin="anonymous"></script>
    <title>TakeSteps App</title>
</head>

<body>
    <nav class="navbar">
        <div class="brand-title">TakeSteps</div>
        <a href="#" class ="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="/">start</a></a></li>
                <li><a href="/ranking">ranking</a></li>
                <li><a href="/profile">profil</a></li>
                <li><a href="/logout">wyloguj się</a></li>
            </ul>
        </div>
    </nav>

    <div class="info-image">
        <div class="info-container">
            <h1>Ranking użytkowników</h1>
            <h4>Zobacz kto jest najbardziej aktywny!</h4>
        <img src="/award.png" alt="award" class="avatar"><br></br>
        </div>
    </div>

    <div class="container">
        <h1>Ranking najlepszych 10 użytkowników w ostatnich 30 dniach</h1>
        <div class="ranking">
            <table id="rank-table" class="ranking-table">
                <thead>
                    <tr>
                        <th>Ranking</th>
                        <th>Użytkownik</th>
                        <th>Liczba kroków</th>
                        <th>Kilometry</th>
                     </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>username</td>
                        <td>steps</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer">
        &#xA9 TakeSteps 2021
    </div>

<script src="/js/script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    const rankingsBody = document.querySelector('#rank-table > tbody');
    console.log(rankingsBody);

    const loadData = async () => {
        await axios.get('ranking/month')
        .then(res => {
            let data = res.data.steps;
            //console.log(data);
            buildTable(data);
        })
        .catch(function (error) {
            console.log("error" + error);
        })
    }

    const buildTable = (data) => {

        if (rankingsBody)
            while (rankingsBody.firstChild)
                rankingsBody.removeChild(rankingsBody.firstChild);

        // todo!!!: make it... better/shorter... maybe with with foreach
        for (let i = 0; i < data.length; i++) {
            const tr = document.createElement("tr");
            const td1 = document.createElement("td");
            const td2 = document.createElement("td");
            const td3 = document.createElement("td");
            const td4 = document.createElement("td");
            td1.textContent = i + 1;
            td2.textContent = data[i].name;
            td3.textContent = data[i].monthsteps;
            td4.textContent = (0.00075 * data[i].monthsteps).toFixed(2) + "km";
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tr.appendChild(td4);
            rankingsBody.appendChild(tr);
        }
    }

    document.addEventListener("DOMContentLoaded", loadData());
</script>

</body>
</html>

