<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>TakeSteps App</title>
</head>

<body>
        <section class="form-window">
            <form action="/auth/register" method="POST">
                <div class="box">
                    <div class="form-head">
                        <h2>Formularz rejestracji</h2>
                    </div>

                    <div class="form-body">
                        <input type="name" placeholder="Nazwa użytkownika" id="name" name="name">
                        <input type="email" placeholder="Adres email" id="email" name="email">
                        <input type="password" placeholder="Hasło" id="password" name="password">
                        <input type="password" placeholder="Powtórz hasło" id="passwordConfirm" name="passwordConfirm">
                    </div>

                    <div class="form-footer">
                        <button type="submit" class="form-button">Zarejestruj się</button>
                        <br><br>Masz już konto? <a href="/login"><b>Zaloguj się!</b></a>
                    </div>
                </div>
            </form>

        </section>
        {{#if message}}
            <h4>{{message}}</h4>
        {{/if}}

</body>
</html>