body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

nav {
    color: #fff;
    padding: 5px 60px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    width: 100%;
    position: fixed;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding-right: 110px;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav li a:hover {
    color: rgb(170, 176, 184);
    text-decoration: none;
}

h6 {
    font-size: 26px;
    color: #0881f1;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: rgb(252, 8, 0);
    text-decoration: none;
}

i {
    font-size: 8em;
    color: #0881f1;
}

i:hover {
    color: rgb(42, 4, 146);
  }

.info{
    color: white;
    background-color: #2b2b2b;
    background-image: url("/info.jpg");
    background-size: 100% 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 600px;
    max-height: 600px;
  }
  
  .infobackground{
    text-align: center;
    font-size: 16px;
    padding: 150px;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
  
  .steps{
    background-color: #f5f0f0;
  }
  
  .infosteps{
    color: #000000;
    text-align: center;
    padding: 20px;
  } 
  
  .grid-content{
    background-color: #fff;
    text-align: center;
    padding: 60px;
    font-size: 20px;
  }

  .register-info {
    background-color: #fff;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .registerBtn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .fa-file-alt {
    color: rgb(240, 174, 6);
  }

  .fa-file-alt:hover {
    color: rgb(240, 146, 6);
  }


.footer{
    background-color: #2b2b2b;
    text-align: center;
    padding: 10px;
    color: #818181;
    min-height: 50px;
  }

  .container {
      text-align: center;
      min-height: 500px;
      padding: 50px;
      background-color: #fff;
  }

  .form-window {
    text-align: center;
    margin: auto;
	  background-color: #fff;
    padding: 100px;
	  border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;
    width: 750px;
    max-width: 100%;
    min-height: 400px;
}

  .form-window.steps {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 15px 0;
	width: 100%;
}

.form-button {
  margin: 30px;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form-button:hover {
    cursor: pointer;
}
.form-button:active {
	transform: scale(0.95);
}

.form-button:focus {
	outline: none;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
  }

  .avatar:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 20px rgb(253, 253, 253);
  }

.steps-table {
  padding: 20px;
  margin: auto;
}

.steps-table ul {
  padding: 0;
  list-style-type: none;
}

.steps-table li {
  display: inline-block;
  padding: 10px;
  align-items: center;
  text-align: center;
  min-width: 75px;
  min-height: 75px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  margin-right: 10px;
  list-style: none;
  background-color: rgba(233, 231, 231, 0.534);
}

.steps-table li:hover {
  background-color: rgba(250, 246, 246, 0.534);
}

.arrow {
  margin: 10px;
	border-radius: 50%;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 6px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.arrow:hover {
  cursor: pointer;
}
.arrow:active {
transform: scale(0.95);
}

.arrow:focus {
outline: none;
}

.steps-table i {
  color: #fff;
}

.steps-table .date {
  font-style: italic;
}

.steps-table .steps {
  padding: 30px;
  font-weight: bold;
  color: #FF4B2B;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
}

.ranking {
  padding: 50px;
}

.ranking ul {
  padding: 0;
  list-style-type: none;
}

.ranking-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 80%;
  min-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ranking-table thead tr {
  background-color: #FF4B2B;
  color: #ffffff;
  text-align: center;
}

.ranking-table th,
.ranking-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.ranking-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.ranking-table tbody tr:last-of-type {
  border-bottom: 2px solid #FF4B2B;
}

.ranking-table tbody tr.active-row {
  font-weight: bold;
  color: #FF4B2B;
}