body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

nav {
    color: #fff;
    padding: 5px 60px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    width: 100%;
    position: fixed;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding-right: 110px;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav li a:hover {
    color: rgb(170, 176, 184);
    text-decoration: none;
}

i {
    font-size: 8em;
    color: #ec790d;
}

.info{
    color: white;
    background-color: #080a61;
    background-image: url("/info.jpg");
    background-size: 100% 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 600px;
    max-height: 600px;
  }
  
  .infobackground{
    text-align: center;
    font-size: 16px;
    padding: 150px;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
  
  .steps{
    background-color: #f5f0f0;
  }
  
  .infosteps{
    color: #000000;
    text-align: center;
    padding: 20px;
  } 
  
  .stepscontent{
    text-align: center;
    padding: 110px;
    font-size: 20px;
  }

  .register-info {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .registerBtn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .fa-file-alt {
    color: rgb(35, 38, 182);
  }


.footer{
    background-color: #2b2b2b;
    text-align: center;
    padding: 10px;
    color: #818181;
  }